<!DOCTYPE html>
<html lang="en">

    <%- include(`./partials/head.ejs`);%>
    
    <title>Pokedex</title>
    <body>
        <h1>Pokemon index page</h1>
        <ul>
            <% for(let i = 0; i < allPokemon.length; i++) { %>
                <li>
                    <a href="/pokemon/<%=i%>"><%=allPokemon[i].name %></a>
                    
                    <a href="/pokemon/<%=i%>"><%=allPokemon[i].stats.attack %></a>

                    <a href="/pokemon/<%=i%>"><%=allPokemon[i].img %></a>

                    <form action="/pokemon/<%= i%>?_method=DELETE" METHOD="POST">
                        <input type="submit" value="DELETE" />
                    </form>
                    <a href="/pokemon/<%=i%>/edit"
                </li>
            <% } %>
        </ul>

        <nav>
            <a href="/pokemon/new">Create a New Pokemon</a>
        </nav>
    </body>
</html>